.mymodal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: #234;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 100%;
  }